<form method="post" action="/tambah-kandidat">
  <input type="file" />
  <input type="text" placeholder="Nama" name="nama"/>
  <input type="text" placeholder="Kelas" name="kelas"/>
  <textarea name="detail">
    Visi / Misi
  </textarea>
</form>